---
import ResumeItem from "../components/ResumeItem.astro";
import Layout from "../layouts/layout.astro";
---

<Layout page="Resume">
  <div class="flex flex-col items-center text-center gap-6 px-4">
    <!-- <h1 class="text-4xl font-bold">RESUME</h1> -->
    <p class="text-slate-700 font-normal px-4 dark:text-slate-300  text-lg md:w-2/3">
      I started my software developing journey 2 years ago when I was writing my
      final year project in college. I started learning python then I stumbled
      upon JavaScript which got me interest in building web applications.
    </p>
    <h1 class="text-4xl font-bold text-slate-800 dark:text-slate-100">EDUCATION</h1>
    <ResumeItem
      title="Bsc Geo-Information Systems"
      time="Aug 2016 to Jan 2021"
      place="Malawi University of Science and Technology"
      skills={[]}
    />
    <h1 class="text-4xl font-bold text-slate-800 dark:text-slate-100">WORK EXPERIENCE</h1>
    <div class="flex flex-col gap-12 md:flex-row md:justify-center md:flex-wrap">
      <ResumeItem
        title="Frontend Engineer"
        time="May 2023 to Current"
        place="Angle Dimensions Limited"
        skills={["React JS", "C#", "Javascript", "API's",]}
      />
      <ResumeItem
        title="Software Engineer"
        time="Aug 2022 to April 2023"
        place="National Integrated Technologies Limited"
        skills={["React JS", "System Design", "Database Design", "API's", "React Native"]}
      />
      <ResumeItem
        title="Software Developer Intern"
        place="Malawi University of Science and Technology"
        time="Mar 2020 to Jan 2021"
        skills={["System Design", "Database Design","Node Js"]}
      />
      <ResumeItem
        title="Geo-Information Systems Intern"
        place="L.Gravam Consulting Services"
        time="Aug 2019 to Dec 2019"
        skills={["System Design", "Python"]}
      />
    </div>
    <h1 class="text-4xl font-bold text-slate-800 dark:text-slate-100">SKILLS</h1>
    <div class="grid grid-cols-2 gap-6 md:grid-cols-3">
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">JavaScript</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">TypeScript</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">Node Js</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">React JS</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">Kotlin</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">Asp Dot Net MVC</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">PostgreSQL</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">Mongo DB</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">REST APIs</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">Agile Development</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">Tailwind CSS</p>
      <p class="text-lg font-normal text-slate-800 dark:text-slate-200">Git</p>
    </div>

    <a href="/Bryan_Malunje_CV.pdf"><button class="rounded-sm px-3 py-1 bg-blue-500 hover:bg-blue-400 text-white">Download Resume</button></a>
  </div>
</Layout>
