---

import Navbar from "../components/navbar.jsx"
export interface Props {
  page: string;
}

const { page } = Astro.props as Props;
---
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="flex flex-col">
  <Navbar client:load/>
  <div class="flex flex-col gap-12 py-16">
    <slot />
  </div>
</div>

<script>
  const myFunction = () => {
    console.log("clicked head");
    var x = document.getElementById("myDIV");
    if (x) {
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  };
</script>
